{% extends "::base.html.twig" %}
{% block body %}
	{% block main_menu %}
	<ul>
		<li><a href="{{path("homepage")}}">Главная</a></li>
		<li><a href="{{path("blog_teaser")}}">Блог</a></li>
		<li><a href="{{path("blog_about")}}">О нас</a></li>
	</ul>
	{% endblock %}
	<h1>{% block page_titile %}{% endblock %}</h2>
	{% block content %}{% endblock %}

{% endblock %}