{% extends "BlogBundle::layout.html.twig" %}
{% block page_titile %}{{blog.title}}{% endblock %}
{% block content %}
	<article>
		<div class="container blog-container">
			<div class="field field-body">
				{{blog.body|raw}}
			</div>
			<div class="field field-crated">
				{{blog.created|date("d-m-Y")}}
			</div>
		</div>
	</article>
{% endblock %}